<h1>Entries#edit</h1>
<p>Find me in app/views/entries/edit.html.erb</p>
<h2>Edit this Entry</h2>

<%= render 'form' %>

<%= link_to "Back", user_journal_path(current_user, @journal) %>
<%= link_to "Home", user_journals_path(current_user) %>