<h1>Journals#index</h1>
<p>Find me in app/views/journals/index.html.erb</p>
<h2>Your Travel Journals</h2>

<table>
  <tr>
    <th>
      Journal Title
    </th>
    <th>
      Date Created
    </th>
  </tr>
  <% for journal in @journals %>
    <tr>
      <td><a href="/users/<%= current_user.id %>/journals/<%= journal.id %>"><%= journal.title %></a></td>
      <td><%= journal.created_at.to_date %></td>
    </tr>
  <% end %>
</table>